
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: hsl(0, 7%, 14%);
    --secondary: hsl(192, 100%, 99%);
}

body, span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

body.dark-theme {
    background-color: var(--primary);
    color: var(--secondary)
}

body.light-theme {
    background-color: var(--secondary);
    color: var(--primary);
}

.hero-banner {
    background-image: linear-gradient(to bottom, hsla(240, 100%, 10%, 0.76), hsla(39, 100%, 13%, 0.651)), url('../assets/dark-portal.jpg');
    background-position: top;
    background-size: cover;
    min-height: 75vh;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.hero-banner h1 {
    overflow: hidden;
    font-weight: 100;
    letter-spacing: 1rem;
    white-space: nowrap;

    /* text-transform: uppercase; */
    /* animation-name: myQuickAnimation;
    backface-visibility: hidden;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 3s; */
    
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation-timing-function: ease; */
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

.center > * {
    transform: translate(-50%,-50%);
}

.hire-me {
    position: absolute;
    right: 0px;
    bottom: 0px;
    animation-name: hireMeTransition;
    animation-duration: 3s;
    backface-visibility: hidden;
}

.quote {
    position: absolute;
    left: -70px;
    top: 37px;
    height: 110px;
    width: 120px;
    background-color: white;
    color:black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    z-index: 99;
}
.quote-shadow {
    position: absolute;
    left: -73px;
    top: 35px;
    height: 120px;
    width: 130px;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    z-index: 98;
}

.quote > span {
    top:5px;
    position: relative;
}

.hire-me > img {
    width: 300px;
    position: relative;
    z-index: 100;
}

@keyframes hireMeTransition {
    0%{
        transform: translateY(200px)
    }
    100% {
        transform: translateY(0px)
    }
}

/*
@keyframes myQuickAnimation {
    0%{
        transform: translate(500px, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
*/