
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(27, 24, 24);
    background-color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
}

.hero-banner {
    background-image: url('../assets/dark-portal.jpg');
    background-position: center;
    background-size: cover;
}